body{
  margin: 0;
  padding: 0;
  top: 0;
  background-color: black;
}

.shadowBar{
  display: block;
  height: 5px;
  border: 5px;
  border-top: 1px solid $primary;
  margin: 20px auto;
  width: 85vw;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, transparent, $primary, transparent);
}

.title {
  color: white;
  font-family: "Black Han Sans";
  font-size: 80px;
  z-index: 5;
  text-decoration: underline;
  text-align: center;
  z-index: 5 !important;
}

@media (max-width: 770px) {
  .title{
    font-size: 60px;
  }
}

.subTitle {
  color: white;
  text-align: center;
  font-family: 'Miss Fajardose';
  font-size: 40px;
}
