body{
  margin: 0;
  padding: 0;
  top: 0;
  background-color: black;
}

.shadowBar{
  display: block;
  height: 5px;
  border: 5px;
  border-top: 1px solid $primary;
  margin: 20px auto;
  width: 85vw;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, black, $primary, black);
}
