#bios{
  margin-top: 20px;
  overflow: hidden;
  .aboutTitle{
    color: white;
    font-family: "Black Han Sans";
    font-size: 80px;
    z-index: 5;
    text-decoration: underline;
    text-align: center;
  }

  .member {
    margin-top: 30px;
    padding: 50px;
    text-align: center;
    font-family: "Black Han Sans";
    perspective: 1px;

    .pic{
      width: 300px;
      border: 5px solid white;
      box-shadow: 0 0 0 5px $primary;
      margin-bottom: 20px;
    }

    .name{
      color: $primary;
      text-decoration: underline;
      font-size: 30px;
    }

    .bio{
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size: 15px;
      z-index: 3 !important;
    }

    .backImage{
      position: absolute;
      max-width: 500px;
      z-index: -1;
    }

    .aleft{
      text-align: left;
      .backImage{
        transform:translate(650px, -100px);
      }
    }

    .aright{
      text-align: right;
      .backImage{
        transform:translate(-1000px, 0px);
      }
    }
  }

  @media (max-width: 770px){
    .title{
      margin-top: 80px;
    }

    .member {
      .aleft{
        text-align: center;
      }
      .aright{
        text-align: center;
      }
    }
  }

  .lll {
    text-align: center;
    font-family: 'Meie Script', cursive;
    font-size: 40px;
    color: white;
    margin-top: -50px;
    .liveLove{
      text-decoration: line-through;
      text-decoration: red line-through;
    }
  }
}
