#openmic{
  .strip1{
    top: 0;
    z-index: -5;
    position: fixed;
    background-color: $primary;
    height: 100vh;
    width: 500px;
    left: -5%;
    transform: skew(-40deg);
  }
  .strip2{
    top: 0;
    z-index: -5;
    position: fixed;
    background-color: $primary;
    height: 100vh;
    width: 200px;
    left: 18%;
    transform: skew(30deg);
  }

  .micImg{
    z-index: -7;
    position: fixed;
    bottom: 0;
    right: 0;
    height:100vh;
  }

  .blackBox{
    z-index: -6;
    background-color: black;
    height: 100vh;
    width: 30vw;
    position: fixed;
    top: 0;
    left: 0;
  }

  .openWriteUp{
    margin-top: 40px;
    font-size: 25px;
    color: white;
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Black Han Sans";
    max-width: 500px;
    top: 80px;
    left: 150px;
    a{
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    a:hover {
      color: black;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
  }
}

@media(max-width: 600px){
  #openmic {
    margin-top: 100px;
    .openWriteUp{
      left:50px;
      top: 200px;
    }
  }
}
